.cardWrapper {
    margin-top: 20px;;
    padding: 20px 50px;
    border: 1px solid #e7e5e5;
    background-color: #e7e5e5;  
}

.cardWrapper h2 {
    color: rgb(1, 108, 157);
}

.cardWrapper span {
    text-transform: italic;
    color: grey;
}

.cardWrapper p {
    color:grey;
    font-weight: bold;
}