.listFilterWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 20px 0;
}

.listFilterWrapper input {
    width: 50%;
    height: 20px;
}

.listFilterWrapper select {
    width: 25%;
    height: 25px;
    margin-left: 10px;
    color: grey;
    font-family: "Lucida Console", "Courier New", monospace;

}
