.storePartsListItem {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #e7e5e5;
    background-color: #e7e5e5;  
    transition: transform 0.5s ease; 
}

.storePartsListItem:hover,
.storePartsListItem:focus {
    transform:scale(1.02);
    background-color: #f8f6f6; 
}
.storePartsListItem:hover *,
.storePartsListItem:focus * {
    color: rgb(1, 108, 157);
    font-weight: bold;
}

.storePartsListItem a {
    color: grey;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}