.loadingWrapper {
    position: relative;
    width:100%;
    height: 60vh;
}
.loadingWrapper img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 50px;
}