@import './styles/pages/notFoundPage';
@import './styles/components/loading';
@import './styles/components/list';
@import './styles/components/listItem';
@import './styles/components/listFilters';
@import './styles/components/card';

body {
   width: 80vw;
   margin: 40px auto;
   font-family: "Lucida Console", "Courier New", monospace;
}

.pageHeader {
    color: grey;
}

a {
    text-decoration: none;
    color: grey;
}